body{
    background-color: rgb(39, 38, 38);
}

.digimonProfile{
    background-color: rgb(234, 243, 247);
    width: 1024px;
    height: 512px;
    margin: auto;
    margin-top: 32px;
    align-items: center;
    
}

img {
    margin-top: 64px;
    margin-left: 32px;
    
}

#digimonName{
    text-align: center;
}

.digiItem{
    display: inline-block;
    text-align: center;
}

#description{
    position: absolute;
    margin-left: 64px;
    margin-top: 32px;
    width: 512px;
    text-align: justify;
}